/*
* IMPORT FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


/*
* CSS VARIABLES
*/
:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --White: hsl(0, 0%, 100%);
    --font-size: 16px;
}

/*
* RESET DEFAULT STYLES
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

/*
* MAIN BACKGROUND WRAPPER
*/
.main {
    background-image: url(images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-color: var(--Red);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
* Styles of header
*/
header {
    width: 90%;
    color: var(--White);
    text-align: center;
    margin-bottom: 3.125rem;
}

header h1 {
    margin-bottom: 1.25rem;
    font-size: 2.75rem;
}

header p {
    color: var(--White);
    font-size: 1.25rem;
}
