/*
* IMPORT FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


/*
* CSS VARIABLES
*/
:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --White: hsl(0, 0%, 100%);
    --font-size: 16px;
}

/*
* RESET DEFAULT STYLES
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: var(--font-size);
    font-weight: 500;
    line-height: 1.6;
    background-color: var(--Red);
    color: white;
    padding: 5.5em 0 1em;
    background-image: url(./images/bg-intro-mobile.png);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    caret-color: var(--Blue);
}

input:focus {
    outline: none;
    border: 2px solid var(--Blue);
}

/*
* Form Inputs Styles
*/
.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control input {
    border: 1px solid var(--Grayish-Blue);
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.form-control.success input {
    border: 2px solid var(--Green);
}

.form-control.error input {
    border: 2px solid var(--Red);
}

.form-control.error img {
    visibility: visible;
}

.form-control.error span {
    visibility: visible;
}


.form-control img {
    position: absolute;
    top: 10px;
    right: 20px;
    visibility: hidden;
}

.form-control span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    color: var(--Red);
    visibility: hidden;
}

/*
* Form Card
*/
form {
    background-color: var(--White);
    padding: 2rem;
    max-width: calc(450rem / 16);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 1px rgb(0 0 0 / 17%);
}

/*
* MAIN BACKGROUND WRAPPER
*/
main {
    display: grid;
    gap: 3rem;
    max-width: 71.875rem;
    margin: 0 auto;
    padding: 0 1.5625rem;
}

/*
* Styles of header
*/
header {
    color: var(--White);
    display: grid;
    place-items: center;
    text-align: center;
}

header h1 {
    margin-bottom: 1.25rem;
    font-size: clamp(2rem, 4vw + .25rem, 3.125rem);
    font-weight: 900;
    max-width: calc(370rem / 16);
    line-height: 1.3;
}

header p {
    color: var(--White);
    --flow-space: 2em;
    font-weight: 500;
    max-width: calc(650rem / 16);
    line-height: 1.4rem;
    font-size: 1.1rem;
}

/*
* Styles of Form Card
*/
.form-card {
    display: grid;
    justify-items: center;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

/*
* Sign Up Button
*/
.form-card .sign-up-button {
    border: none;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: var(--Green);
    color: var(--White);
    padding: 1.25em 0;
    max-width: calc(450rem / 16);
    width: 100%;
    font-size: 1rem;
    box-shadow: 0px 4px 0px 1px hsl(154deg 59% 51% / 56%);
    border-radius: 0.75rem;
    margin: 0 auto 2rem;
    text-transform: uppercase;
}

.form-card .footer {
    text-align: center;
    font-size: 12px;
    color: var(--Grayish-Blue);
}

.form-card p > a {
    color: var(--Red);
    text-decoration: none;
    font-weight: 600;
}

/*
* Try For Free Button
*/
.form-card .try-free-button {
    border: none;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: var(--Blue);
    color: var(--White);
    padding: 1.25em 0;
    max-width: calc(450rem / 16);
    width: 100%;
    font-size: 1.1rem;
    box-shadow: 0px 7px 0px 1px rgb(0 0 0 / 17%);
    border-radius: 0.75rem;
    margin-bottom: 2rem;
}

.form-card .try-free-button > p {
    font-weight: 700;
    max-width: calc(200rem / 16)
}

.form-card .try-free-button > p > span {
    font-weight: 500;
}

/*
* Media Query For Desktop
*/
@media (min-width: 62.5em) {

    /*
    * Change Background Image, change flex direction
    */
    body {
        background-image: url("./images/bg-intro-desktop.png");
        background-position: top center;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        max-width: 80rem;
    }

    .form-card, .form-card .try-free-button p {
        width: 100%;
    }

    .form-card .try-free-button, form, .form-card .sign-up-button, .form-card .try-free-button p {
        max-width: 100%;
    }

    .form-card .sign-up-button {
        margin: 0 auto 1rem;
    }

    form {
        padding: 2rem 3rem;
    }

    .form-control > input {
        padding: 1rem 0 1rem 2rem;
    }

    header h1 {
        text-align: left;
        width: 100%;
        max-width: 100%;
    }

    header p {
        text-align: left;
    }
}